<%= link_to 'Destinations', destinations_path %> |
<%= link_to 'Categories', expense_categories_path %> |
<%= link_to 'SignUp', signup_user_path_url %>
<p id="notice"><%= notice %></p>

<h1>My Trips</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Destination</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= link_to '-', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= trip.name %></td>
        <td><%= trip.destination.name %></td>
        <td><%= link_to 'Show', trip %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trip', new_trip_path %>
