<div class="flex-grid-links">
  <div class="col navigation">
    <%= link_to 'My Trips', trips_path %>
  </div>
  <div class="col navigation">
    <%= link_to 'Edit', edit_trip_path(@trip) %>
  </div>
</div>

<div class="flex-grid">
  <div class="col">
    <h1>Summary</h1>
  </div>
</div>

<% if notice != nil %>
  <div class="flex-grid">
    <div class="col">
      <i class="fas fa-check-circle" id="notice"> <%= notice %></i>
    </div>
  </div>
<% end %>

<div class="flex-grid">
  <div class="col">
    <div class="name-trip">
      <p><%= @trip.name %></p>
      <p><i class="fas fa-globe-asia"></i> <%= @trip.destination.name %></p>
    </div>
    <div class="date-trip">
      <p>
        <i class="fas fa-plane-departure"> </i>
        <%= @trip.start_date.strftime("%d / %m / %y") %>
      </p>
      <p>
        <i class="fas fa-plane-arrival"></i>
        <%= @trip.end_date.strftime("%d / %m / %y") %>
      </p>
    </div>
  </div>
</div>

<div class="flex-grid">
  <div class="col">
    <p>
        <%= bar_chart @data, { responsive: true } %>
    </p>
  </div>
</div>


<div class="flex-grid">
  <div class="col all-budget">

      <%# <strong>Budget Home:</strong>
      <%= " AUD $ #{@trip.budget}" %>
    <div class="budget-trip">
      <p>
        <i class="fas fa-wallet"></i>
        <span>Budget Trip:</span>
        <%= "#{@trip.destination.symbol} #{number_with_precision(@trip.budget_based_on_destination, precision: 2)}" %>
      </p>
      <p>
        <span>Daily Budget:</span>
        <%= "#{@trip.destination.symbol} #{number_with_precision(@trip.daily_budget , precision: 2)}" %> (<%= @trip.number_of_days %>)
      </p>
      </br>
      <p>
        <i class="fas fa-coins"></i>
        <span>Remaining:</span>
        <%= "#{@trip.destination.symbol} #{number_with_precision(@trip.remaining , precision: 2)}" %>
      </p>
      <p>
        <%# <span>% remaining:</span> %>
        <i class="fas fa-percentage"></i>
        <%= "#{@trip.destination.symbol} #{number_with_precision(@trip.percentual_remaining , precision: 2)}" %>
      </p>
    </div>

  <div class="expense-trip">
    <p>
      <i class="fas fa-file-invoice-dollar"></i>
      <span>EXPENSES:</span>
    </p>
    <p>
      <%# <span>Total:</span> %>
      <%= "#{@trip.destination.symbol} #{number_with_precision(@trip.total_amount, precision: 2)}" %>
    </p>
  </div>

  </div>
</div>

<div class="flex-grid-links actions">
  <div class="col actions">
      <%= link_to chart_path(@trip.id) do %>
        <i class="fas fa-chart-pie fa-lg"></i>
      <% end %>
  </div>
  <div class="col actions" id="expense">
    <%= link_to 'Add Expense', add_expense_path(@trip.id) %>
  </div>
  <div class="col actions">
    <%= link_to "/trips/#{@trip.id}/expenses/history" do %>
      <i class="fas fa-receipt fa-lg"></i>
    <% end %>
  </div>
</div>
