<%= link_to 'My Trips', trips_path %> |
<%= link_to 'Edit', edit_trip_path(@trip) %>

<h1>Summary</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Destination:</strong>
  <%= @trip.destination.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @trip.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @trip.end_date %>
</p>

<p>
  <strong>Budget:</strong>
  <%= "#{@trip.destination.symbol} #{@trip.budget}" %>
</p>

<p>
  Total: <%= number_to_currency(@trip.total_amount) %>
</p>

<p>
  Remaining: <%= number_to_currency(@trip.remaining) %>
</p>

<p>
  Daily Budget: <%= number_to_currency(@trip.daily_budget) %>
</p>

<%= link_to 'Add Expense', add_expense_path(@trip.id) %> |
<%= link_to 'History', "/trips/#{@trip.id}/expenses/history" %>
