<h1>Summary</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @trip.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @trip.end_date %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @trip.budget %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @trip.destination.name %>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %> |
<%= link_to 'Add Expense', "/trips/#{@trip.id}/expenses/new" %> |
<%= link_to 'History', "/trips/#{@trip.id}/expenses/history" %>
