<header>

  <nav>

     <div class="flex-grid">
        <p><%= link_to "logo", root_path, id: "logo" %></p>
        <p><%= link_to "Trip Wallet", root_path %></p>
    </div>

     <div class="flex-grid">
        <% if logged_in? %>
          <p><%= gravatar_for current_user %> <%= current_user.name %></p>
          <p><%= link_to "Log out", logout_path, method: :delete %></p>
        <% else %>
          <p><%= link_to "Log in", login_path %></p>
        <% end %>
        <% if admin? %>
          <p><%= link_to "Users", '/users' %></p>
          <p><%= link_to 'Destinations', destinations_path %></p>
          <p><%= link_to 'Categories', expense_categories_path %></p>
        <% end %>
    </div>

  </nav>

</header>
