<%= render 'shared/error_messages', locals: { errors: destination.errors } %>

<div class="flex-grid">
  <%= form_with(model: destination, local: true) do |form| %>

    <div class="col" id="login-form">
      <%= form.label :name %>
      <%= form.text_field :name, autofocus: true, :required => true  %>
    </div>

    <div class="col" id="login-form">
      <%= form.label :currency %>
      <%= form.text_field :currency %>
    </div>

    <div class="col" id="login-form">
      <%= form.label :symbol %>
      <%= form.text_field :symbol  %>
    </div>

    <div class="col" id="login-form">
      <%= form.label :exchange_rate, "Rate" %>
      <%= form.text_field :exchange_rate, :required => true  %>
    </div>

    <div class="col form-submit">
      <div class="form-submit-placeholder"></div>
      <div class="form-submit-action"><%= form.submit %></div>
    </div>
  <% end %>
</div>
