<%= render 'shared/error_messages', locals: { errors: @trip.errors } %>

<%= form_with(model: destination, local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency %>
  </div>

  <div class="field">
    <%= form.label :symbol %>
    <%= form.text_field :symbol %>
  </div>

  <div class="field">
    <%= form.label :exchange_rate %>
    <%= form.text_field :exchange_rate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
