<div class="flex-grid-links">
  <div class="col navigation">
    <%= link_to 'My Trips', trips_path %>
  </div>
</div>

<div class="flex-grid">
  <div class="col">
    <h1>Destinations</h1>
  </div>
</div>

<% if notice != nil %>
  <div class="flex-grid">
    <div class="col">
      <i class="fas fa-check-circle" id="notice"> <%= notice %></i>
    </div>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Currency</th>
      <th>Symbol</th>
      <th>Exchange rate</th>
    </tr>
  </thead>
  <tbody>
    <% @destinations.each do |destination| %>
      <tr>
        <td><%= link_to '-', destination, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= destination.name %></td>
        <td><%= destination.currency %></td>
        <td><div class="exchange-rate"><%= destination.symbol %></div></td>
        <td><div class="exchange-rate"><%= destination.exchange_rate %></div></td>
        <td><%= link_to 'Edit', edit_destination_path(destination) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="flex-grid-links actions">
  <div class="col actions" id="single-link">
    <%= link_to 'New Destination', new_destination_path %>
  </div>
</div>