<%= link_to 'My Trips', trips_path %>

<% if notice != nil %>
  <div class="flex-grid">
    <div class="col">
      <i class="fas fa-check-circle" id="notice"> <%= notice %></i>
    </div>
  </div>
<% end %>

<h1>Destinations</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Currency</th>
      <th>Symbol</th>
      <th>Exchange rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @destinations.each do |destination| %>
      <tr>
        <td><%= link_to '-', destination, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= destination.name %></td>
        <td><%= destination.currency %></td>
        <td><%= destination.symbol %></td>
        <td><%= destination.exchange_rate %></td>
        <td><%= link_to 'Show', destination %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Destination', new_destination_path %>
