<%= link_to 'Destinations', destinations_path %> |
<%= link_to 'Edit', edit_destination_path(@destination) %>

<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @destination.name %>
</p>
<p>
  <strong>Currency:</strong>
  <%= @destination.currency %>
</p>
<p>
  <strong>Symbol:</strong>
  <%= @destination.symbol %>
</p>
<p>
  <strong>Exchange rate:</strong>
  <%= @destination.exchange_rate %>
</p>
