<%= link_to 'Summary', "/trips/#{@trip.id}/" %>

<h1>Add Expense</h1>

<div>
  Trip: <%= @trip.name %>
</div>

<div>
  Destination: <%= @trip.destination.name %>
</div>

<div>
  Symbol: <%= @trip.destination.symbol %>
</div>

<%= form_with(model: @expense) do |form| %>

  <%= form.hidden_field :trip_id, value: @trip.id %>

  <% if flash[:errors] != nil %>
    <div id="error_explanation">
      <ul>
      <% flash[:errors].each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, autofocus: true%>
  </div>
  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes %>
  </div>

  <div class="field">
    <%= form.label :expense_date %>
    <%= form.date_field :expense_date, min: @trip.start_date, value: Date.today  %>
  </div>
  <div class="field">
    <%= form.label :expense_category_id %>
    <%= form.select :expense_category_id, ExpenseCategory.all.map { |e| [e.name, e.id] }, include_blank: 'Please choose' %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
