  <div class="flex-grid-links">
    <div class="col navigation">
        <%= link_to 'Summary', "/trips/#{@trip.id}/" %>
    </div>
    <div class="col navigation">
        <%= link_to 'Add Expense', add_expense_path(@trip.id) %>
    </div>
  </div>

<div class="flex-grid">
  <div class="col">
    <h1>History</h1>
  </div>
</div>


<% if notice != nil %>
  <div class="flex-grid">
    <div class="col">
      <i class="fas fa-check-circle" id="notice"> <%= notice %></i>
    </div>
  </div>
<% end %>

<div class="flex-grid">
  <div class="col" id="trip-info-history">
    <p>Trip:</p>
    <p><%= @trip.name %></p>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Amount</th>
      <th>Notes</th>
      <th>Date</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @trip.expenses.sort_by{ |e| e.expense_date }.each do |expense| %>

      <tr>
        <td><%= link_to '-', delete_expense_path(expense.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td class="amount">
          <div>
            <%= "#{@trip.destination.symbol}: " %>
          </div>
          <div><%= number_with_precision(expense.amount, precision: 2) %></div>
        </td>
        <td><%= expense.notes %></td>
        <td><%= expense.expense_date.strftime("%d/%m/%y") %></td>
        <td><%= expense.expense_category.name %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<div class="flex-grid-links actions"">
  <div class="col" id="trip-info-history">
    <p>Total:</p>
    <p><%= "#{@trip.destination.symbol} #{@trip.total_amount}" %></p>
  </div>
</div>
